### Imports

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
%matplotlib inline

In [3]:
directory = "data"

In [4]:
pwd

'C:\\Users\\Patrick\\Desktop\\Portfolio Projects\\MLS-Salaries-2007-2019'

In [5]:
#listdir shows all contents in pwd if listdir() are empty
os.listdir()

['.git',
 '.ipynb_checkpoints',
 'data',
 'MLS_Salary_Analysis.ipynb',
 'README.md']

In [6]:
#listdir shows all contents in specified folder 
#Example: listdir(folder)

os.listdir(directory)

['mls-salaries-2007.csv',
 'mls-salaries-2008.csv',
 'mls-salaries-2009.csv',
 'mls-salaries-2010.csv',
 'mls-salaries-2011.csv',
 'mls-salaries-2012.csv',
 'mls-salaries-2013.csv',
 'mls-salaries-2014.csv',
 'mls-salaries-2015.csv',
 'mls-salaries-2016.csv',
 'mls-salaries-2017.csv']

In [7]:
csv_files = os.listdir(directory)

In [28]:
# Looping through data sets 
datasets = []

for csv_file in csv_files:
    # Extract year from file name
    year = int(csv_file[-8:-4])
    # Concatenate the folder and csv file name to get the full filepath
    filepath = os.path.join(directory, csv_file)
    # Read in CSV data from CSV into a dataframe    
    df = pd.read_csv(filepath)
    # Add year to df
    df['year'] = year
    # Combining all Dataframes into a list
    datasets.append(df)
mls_df = pd.concat(datasets)
mls_df

,club,last_name,first_name,position,base_salary,guaranteed_compensation,year
0,CHI,Armas,Chris,M,225000.0,225000.00,2007
1,CHI,Banner,Michael,M,12900.0,12900.00,2007
2,CHI,Barrett,Chad,F,41212.5,48712.50,2007
3,CHI,Blanco,Cuauhtemoc,F,2492316.0,2666778.00,2007
4,CHI,Brown,C.J.,D,106391.0,106391.00,2007
...,...,...,...,...,...,...,...
611,VAN,Tornaghi,Paolo,GK,80000.0,80000.00,2017
612,VAN,Waston,Kendall,D,350000.0,368125.00,2017
613,VAN,Williams,Sheanon,D,175000.0,184000.00,2017
614,NaN,Babouli,Mo,F,54075.0,54075.00,2017
615,NaN,Ramajo,David Mateos,D,420000.0,453333.33,2017

In [ ]:
# For Friday 08/21/2020 - Compare stats from FM 2020 from internet provided stats
# Think about trends to explore from existing data.
# 1. Open FM 2020 before starting
# 2. Explore Seaborn